<section>
	<header class="major">
		{{ with .Site.Params.work.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	</header>
	<strong>Publisher Implementation Specialist at Undertone</strong></h4>

						
					<li>Aids Undertone's network of publishers in setting up and certifying for Undertone tags in their ad server</li>
					<li>Provides and generates reporting on areas like non-human traffic, riskiest web traffic, and viewability</li>
					<li>Troubleshoots live campaign issues</li>
					<li>Helps in the developement of new Undertone ad formats and how they may function on publisher pages</li>
					<li>Colloborates with other teams at Undertone to provide needed data and any information needed about ad formats</li>

<strong>For more information about my past work experience please check our my LinkedIn profile. </strong>
<br>
<br>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/dominique-ryan-765b669" data-format="inline" data-related="false"></script>


</section>
